@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Share+Tech+Mono&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Share+Tech+Mono&display=swap');




html, body, [class*="css"] {
    font-family: "Mozilla Text", sans-serif;
    font-weight: 500;
    color: #091747;
}

[data-testid="stHeadingWithActionElements"] h1{
  text-align: center;
  font-family:  "Raleway", sans-serif;
  margin-bottom:40px;
  

}

[data-testid="stHeadingWithActionElements"] h3 {
  /* Your styles here */
  margin-left:5px;
  
  font-size: 30px;
  font-family:  "Raleway", sans-serif;
  
}

[data-testid="stMarkdownContainer"] p {
    /* Your CSS rules here */
    
    font-weight: bold;
    font-size:20px;
    font-family:  "Raleway", sans-serif;
}

.my-image {
  display: block;
  
  width:430px;
 
  margin-left:auto;
  margin-right:auto;
}

.my-image2 {
  display: block;
  width:310px;
  margin-left:auto;
  margin-right:auto;
}

.header-container {
 
  width: 100%;
  /* background: linear-gradient(to right, #005C97, #363795);*/
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  
  color:var(--text-color);
  margin-bottom: 2rem;
}


.header-container h1 {
 
  margin-bottom:0px;
  margin-top:0px;
  
}
















